<main id="invoice-create">
    <section>
      <h1>Create Invoice</h1>
      <a id="create-invoice" href="/invoices"><button id="newInvoice" class="btn btn-success">Back to Invoices</button></a>
    </section>
  </main>